<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69228740786-uiaif1rcjfikr3e0uiv8clgvj6pipdn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69228740786-uiaif1rcjfikr3e0uiv8clgvj6pipdn0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69228740786-1oonf78aimohdjglunrqnbtf6hs5tjks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7MGZF-2aQDtKcy3otCzi2JIM3nB7izEo</string>
	<key>GCM_SENDER_ID</key>
	<string>69228740786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashankstudios.attendrix</string>
	<key>PROJECT_ID</key>
	<string>attendrix-5ke7lp</string>
	<key>STORAGE_BUCKET</key>
	<string>attendrix-5ke7lp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69228740786:ios:ec55527cf976fe76e1c9ab</string>
	<key>DATABASE_URL</key>
	<string>https://attendrix-5ke7lp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>